<%= stylesheet_link_tag "groups" %>
<h1>Preferences Queue</h1>

<table>
  <tr>
    <th></th>
    <th> Rank </th>
    <th> Dorm Name </th>
    <th> Room Number</th>
    <th> Group </th>
  </tr>
  <% requests.each_with_index do |r,i| -%>
    <%= render partial: "pref", locals: { request: r, index: i } %>
  <% end -%>
</table>