<%= stylesheet_link_tag "groups" %>
<h1 style="display:inline-flex;">Your Groups</h1>

<%= form_for(:group) {|f| f.submit "New Group", class: "btn btn-med btn-primary right"} %>

<table>
  <tr>
    <th> </th>
    <th> Group Id </th>
    <th> Members </th>
    <th> Representative </th>
    <th> Draw Number </th>
    <th> Suite? </th>
  </tr>
  <% draw_groups.each do |group| -%>
    <%= render partial: "group", locals: {group: group} %>
  <% end -%>

</table>