<%= stylesheet_link_tag "groups" %>
<h1>Find your room!</h1>

<!-- form_for with filters... update variable results -->
<%= render partial: "querybox" %>


<table>
  <tr>
    <th> Collection Id</th>
    <th> Dorm </th>
    <th> Room Number</th>
    <th> Capacity </th>
  </tr>
  <% (results params[:query]).each do |r| -%>
    <%= render partial: "result", locals: { result: r } %>
  <% end -%>
</table>