<div class="col-md-2" id="leftCol">
  <div class="well">
    <ul class="nav nav-stacked" id="sidebar">
      <li><%= link_to "Maps" %></li>
      <li><%= link_to "Search" %></li>
      <li><%= link_to "Groups" %></li>
      <li><%= link_to "Queue" %></li>
    </ul>
  </div>
</div>
