<div class="col-md-2" id="leftCol">
  <div class="well">
    <ul class="nav nav-stacked" id="sidebar">
      <li><%= link_to "Maps", maps_path %></li>
      <li><%= link_to "Search", search_index_path %></li>
      <li><%= link_to "Groups", groups_path %></li>
      <li><%= link_to "Queue", queue_index_path %></li>
    </ul>
  </div>
</div>
